{% extends 'demopage/base.html' %}
{% load static %}
{% block content %}
<section id="home-sec">
    <div class="container-fluid no-padding text-center">
        <!-- <img src="{% static 'img/1280x720b.jpg' %}"> -->
        <h1 > Patthamawan Web</h1>
        <hr class="hr-set"/>
        <p>เว็บแปลงเลขทศนิยม&แก้ระบบสมการ </p>
    </div>
</section>
<section >
    <div class="container">
        <div class="row text-center" >
            <div class="col-md-4">
                <a href = '/difer'> <img src="{% static 'img/ieee32.png' %}"> </a>
                <h3> Differentiation หาค่าประมาณของฟังก์ชั่น</h3>
            </div>

            <div class="col-md-4">
                <a href = '/inte'><img src="{% static 'img/ieee64.png'%}"></i></a>
                <h3>Integration หาพื้นที่ใต้กราฟ</h3>
            </div>

            <div class="col-md-4">
                <a href = '/root'><img src="{% static 'img/ax=b.png'%}"></i></a>
                <h3>Root-finding หาจุดสูงสุดหรือต่ำสุดของฟังก์ชั่น</h3>
            </div>
        </div>
    </div>
</section>

<!-- {% endblock content %} -->