{% extends 'myapp/base.html' %}
{% block content %}

 <script type="text/x-mathjax-config">
     MathJax.Hub.Config({TeX: {equationNumbers: {autoNumber: "AMS"}}}); 
     MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], 
       ['\\(','\\)']],processEscapes: true}}); 
 </script>
 <script type="text/javascript" async 
     src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"> 
 </script>


<section class="headline-sec">
    <div class="overlay ">
        <h3>แก้ระบบสมการเชิงเส้น $Ax = b$<i class="fa fa-angle-double-right "></i></h3>
    </div>  
</section>
    <!--HOME SECTION END-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4" >
                <h2><strong> ผลลัพธ์ </strong></h2>
                    {% for r in results %}
                        {{r}},
                    {% endfor %}
                <br>
                {% for i, j in mylist %}
                    {{ i }} = {{ j }} <br>
                {% endfor %}
            </div>
            <center>
                <div class="col-md-4" >
                    <div class="alert alert-info" >
                        <div class="form-group">
                            <h3><strong>กรุณากรอกค่าต่อไปนี้</strong></h3>

                        <form action='' method="post">
                            {% csrf_token %}
                            <textarea name = "data" rows="7" cols="20"> </textarea> </textarea>
                            <br><br>
                            <input type="submit" class="btn btn-primary" >
                        </form>
                        
                        </div>
                    </div>
                </div>
            </center>
            <div class="col-md-4" >
                <div class="alert alert-info" >
                    <div class="form-group">
                        <p>สมการที่1  \[2x_{1}+4x_{2}−2x_{3}=−11\] </p>
                        <p>สมการที่2  \[−2x_{1}+4x_{2}−2x_{3}=−16\] </p>
                        <p>สมการที่3  \[x_{1}−2x_{2}+4x_{3}=17\]</p>
                        </p>
                    </div>
                    <div class="form-group">
                        <center>
                        <h4><strong>การกรอก</strong></h4>
                        <p>2,4,-2=-11 </p>
                        <p>-2,4,-2=-16</p>
                        <p>1,-2,4=17</p>
                        </p>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock content %}